<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div>
      <h1>Sign in</h1>
      <legend>Username</legend>
      <input type="text" id="username" name="username" placeholder="Username" />
      <legend>Password</legend>
      <input type="text" id="password" name="password" placeholder="password" />
      <div class="margin-top">
        <button onclick="submit()">Submit</button>
      </div>
    </div>
    <div class="margin-top">
      <a href="">New User</a><a href="" class="margin-left">Forgot passowrd</a>
    </div>
    <script src="main.js"></script>
  </body>
</html>
